*{
    margin: 0;
    padding:0 ;
    box-sizing: border-box;
    font-size: 62.5%;
    overflow-x: hidden;
}
.preloader{
    
}
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,300&family=Libre+Baskerville:wght@400;700&family=Lobster&family=Nunito:wght@300&family=Quicksand:wght@300&family=Rancho&family=Rubik:wght@500&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,300&family=Libre+Baskerville:wght@400;700&family=Lobster&family=Nunito:wght@300&family=Quicksand:wght@300&family=Rubik:wght@500&family=Varela+Round&display=swap');
.container{
    width: 100vw;
    height: 100vh;
    background-color: hsl(0,0,94);
}
.center{
    position: absolute;
    top: 37rem;
    left: 37rem;
    width: 82rem;
    text-align: center;
    
    z-index: 1;

}
.center span{
    font-size: 5rem;
    color: black;
    margin-right: 10px; position: relative;


}

.xyz:before{
    content: "MIMMUUU...";
    /* font-family: 'Rancho'; */
    font-family: 'Rancho', cursive;
    position: absolute;
    color: #ff1694;
    border-right: 2px solid gold;
    animation: slide 4s linear infinite;
    left: 8px;
    overflow: hidden;
    

}
@keyframes slide{
    0%{
        width: 0%;
    }
    50%{
        width: 100%;
    }
    100%{
        width: 0%;
    }
}
.below-cont{
    width: 100vw;
    height: 100vh;
    /* background-color: red; */
    background-image: url('./walljpg.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
}
.lowest-cont{
    width: 100vw;
    height: 200vh;
    background-color: #f699cd;
}
.memories{
    position: relative;
    top: 5rem;
    left: 48rem;
    height: 13rem;
    overflow-y: hidden;
    display: flex;
    align-items: center;
    width: 55rem;
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
    
}
.memories span{
    font-size: 6rem;
    color: #FFD700;
    text-shadow: 4px 4px 5px rgb(240, 148, 163);
}
.o1{
    transform: translate(2px,2px) rotate(0deg) ;
}
.u1{
    transform: translate(1px,20px) rotate(18deg) ;
}
.r1{
    transform: translate(1px,33px) rotate(15deg) ;
}
.m1{
    transform: translate(9px,40px) rotate(0deg) ;
}
.e1{
    transform: translate(5px,39px) rotate(-1deg) ;
}
.m2{
    transform: translate(5px,36px) rotate(-2deg) ;
}
.o2{
    transform: translate(5px,28px) rotate(0deg) ;
}
.r2{
    transform: translate(5px,18px) rotate(-11deg) ;
}
.i1{
    transform: translate(5px,11px) rotate(-14deg) ;
}
.e2{
    transform: translate(5px,4px) rotate(-14deg) ;
}
.s1{
    transform: translate(5px,-6px) rotate(-15deg) ;
}
.imgcont1{
    position: relative;
    top: 25rem;
    height: 40rem;
    background-color: aqua;
    display: flex;
    left: 5rem;
    width: 135rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;


}
.imgcont2{
    position: relative;
    top: 40rem;
    height: 40rem;
    background-color: aqua;
    display: flex;
    left: 5rem;
    width: 135rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;


}
.contslider{
    width: 100rem;
    height: 60rem;
    background-color: yellow;
    overflow-y: hidden;
    display: flex;
    flex-direction: row;
    padding: 0 25rem;
    z-index: 1;
    transform-style: preserve-3d;
    animation: rotate 30s linear infinite;


}
@keyframes rotate{
    0%{
        transform: perspective(1000px) translateY(0deg);
    }
    100%{
        transform: perspective(1000px) translateY(360deg);
    }
}
.contslider::after{
    background: radial-gradient(rgba(255, 0, 0, 0.75),transparent, transparent) ;
    content: '';
    position: absolute;
    
        top: 45%;
        left: -25%;
        
        
            width: 2300px;
            height: 1500px;
            animation: anH 8s linear infinite;
}
@keyframes anH{
    0%{
        filter: hue-rotate(0deg);
    }
    100%
    {
        filter: hue-rotate(360deg);
    }
}

.imgslider{
    display: flex;
    align-items: center;
    
}
.imgslider img{
    width: 10rem;
    height: 10rem;
    border: 2px solid black;
}
.sli2 img{
    width: 30rem;
    height: 20rem;
    overflow-y: hidden;
}
.sli1 img{
    width: 15rem;
    height: 10rem;
}
.sli3 img{
    width: 15rem;
    height: 10rem;
}
.btn1{
    position: absolute;
    font-size: 15px;

}
.btn2
{
    position: absolute;
    left: 84.8rem;
    font-size: 20px;
}
.preloadergif{
    z-index: 99;
    width: 100vw;
    height: 100vh;
    background-color: #f699cd;
    display: flex;
    justify-content: center;
    overflow-y: hidden;
    align-items: center;
    /* transition: transform 0.8s;
  transform-style: preserve-3d; */
    position: fixed;
    /* animation: newxt 10s linear alternate; */

}
.pre{
    display: flex;
    justify-content: center;
    align-items: center;
    
   
    
}

